.about {
  margin-top: 5vh;
  min-height: calc(100vh - 16rem);

  &_image-1 {
    left: 10%;
    top: 0;
    z-index: 5;
  }
  &_image-2 {
    right: 0;
    top: 85%;
    transform: translateX(80%);
    z-index: 5;
  }

  .ladybird {
    position: absolute;
    width: 30px;
    height: 25px;
    margin-top: 0;
    margin-left: 6rem;
    z-index: 30;
  }

  .is-fly {
    position: fixed;
    margin-left: 2rem;
    height: 170px;
    width: 220px;
  }

  @media screen and(max-width: 1024px) {
    &_image-2 {
      display: none;
    }
  }
}
